# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ДЗ 26.08.2021.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
